*, body, html {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}
header {
	background-color: #ab0c0c;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
h1 {
	color: #fff;
	line-height: 1;

}
nav {
	display: flex;
	justify-content: center;	
	color: #fff;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline;
}

nav a, nav a:visited {
	color: white;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}

.main-wrapper {
	max-width: 980px;
  margin: 0 auto;
}
.main-wrapper div:first-child {
	text-align: center;
}

footer {
	margin: 0 auto;
	background-color: #00438d;
}

footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

footer div {
	max-width: 980px;
	list-style: none;
	display: flex;
	justify-content: center;
}
footer li {
	padding: 15px;
}

.text-center {
	text-align: center;
}